<!--signup checking -->
<div *ngIf="!isSignedIn">
  <h2>Sign Up</h2>
  <div><input type="email" placeholder="Your Email" #emailSignUp/></div>
  <div><input type="password" placeholder="Your Password" #passwordSignUp/></div>
  <div> <button (click)="onSignUp(emailSignUp.value,passwordSignUp.value)">Sign Up</button></div>
</div>
<hr>
<!--login checking -->
<div *ngIf="!isSignedIn">
  <h2>Login</h2>
  <div><input type="email" placeholder="Your Email" #email/></div>
  <div><input type="password" placeholder="Your Password" #password/></div>
  <div> <button (click)="onSignIn(email.value,password.value)">Login</button></div>
</div>

<app-home *ngIf="isSignedIn" (isLogout)="handleLogout()"></app-home>
